$base-selection-background:                     #9df;
$base-selection-color:                          $global-color;

@mixin hook-base-body() {
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 0.7rem;
  }
  @media (max-width: $breakpoint-small-max) {
    font-size: 0.85rem;
  }
  color: $global-color;
}

@mixin hook-base-misc() {

  body {
    color: $global-color;
  }
}
