//
// Component: Utility
//
// ========================================================================


// Variables
// ========================================================================


// Panel
// ========================================================================

@mixin hook-panel-scrollable() {}


// Drop cap
// ========================================================================

@mixin hook-dropcap() {
    // Prevent line wrap
    margin-bottom: -2px;
}


// Logo
// ========================================================================

@mixin hook-logo() {
  color: $global-inverse-color;
  background: $global-primary-background;
}

@mixin hook-logo-hover() {
  color: $global-muted-background;
}


// Miscellaneous
// ========================================================================

@mixin hook-utility-misc() {}


// Inverse
// ========================================================================

@mixin hook-inverse-dropcap() {}

@mixin hook-inverse-logo() {
  color: $global-color;
}
@mixin hook-inverse-logo-hover() {}
